* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*common*/
img{
    width: 100%;
}

.jumbotron{
    background-color: #b4d0e6;
   
}

.btn{
    background-color: #0061fe;
    padding: 0.5rem;
    border: none;
    color: white;
}

.partner {
    padding: 3rem;  
}

.container_bg {
        width: 70%;     
        margin: auto;
        padding: 2rem;
}

.container_sm {
        width: 60%;
        margin: auto;              
}

.main_card{
        width: 30%;
        height: 30%;

            .card_top {
                padding: 0.5rem 1rem;
        }

            .card_bot {
                padding: 1rem;
                padding-bottom: 2rem;
        }   
    }



/*--utilities--*/
.d_flex {
    display: flex;

}

.space_between {
    justify-content: space-between;
}

.space_evenly{
    justify-content: space-evenly;
}

.wrap{
    flex-wrap: wrap;
}


.plan{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.type_plane {
    width: 25%;
    border: 1px solid gray;
    padding: 2rem;

}

.list_unstyle{
   list-style-type: none;

}

.brd {
    border: 1px solid gray;
}




/*--position--*/
.rel {
    position: relative;
}

.abs {
    position: absolute;
}


/* -- header--*/
.menu {
    display: flex;
    padding: 0 1rem;

    .left_menu {
        align-items: center;
        padding: 0 1rem;
    
        
    }

    .right_menu {
        align-items: center;
        padding: 0 1rem;
       
    }

    a{
       text-decoration: none;
    }
}

/*--main--*/

.part-left{
    width: 30%;

    p{
        padding: 1.5rem; 
    }
            
}

.part-right{
    width: 70%;
}

h1{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

/*--Footer--*/

footer {
    background-color: black;
    color: white;
    
    a{
        color: white;
        text-decoration: none;

    }
}

